services:
  app:
    image: wormhole-systems-test:latest
    build:
      context: .
      dockerfile: dockerfiles/common/frankenPHP/Dockerfile
    environment:
      SERVER_NAME: ":80"
    networks:
      - ws-test-internal
    volumes:
      - laravel-storage-test:/app/storage
      - caddy_data-test:/data
      - caddy_config-test:/config
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://127.0.0.1:80/"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - 80:80
  mysql:
    image: mariadb:latest
    hostname: mysql
    networks:
      - ws-test-internal
    volumes:
      - mysql-test-data:/var/lib/mysql
      - mysql-test-logs:/var/log/mysql
    env_file:
      - dockerfiles/mysql/.env
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  redis:
    image: redis:latest
    hostname: redis
    networks:
      - ws-test-internal
    volumes:
      - redis-test-logs:/var/log/redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
  queue:
    image: wormhole-systems-test:latest
    tty: true
    networks:
      - ws-test-internal
    deploy:
      mode: replicated
      replicas: 1
    volumes:
      - laravel-storage-test:/app/storage
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    restart: unless-stopped
    depends_on:
      app:
        condition: service_healthy
  scheduler:
    image: wormhole-systems-test:latest
    tty: true
    networks:
      - ws-test-internal
    volumes:
      - laravel-storage-test:/app/storage
    command: php artisan schedule:work
    restart: unless-stopped
    depends_on:
      app:
        condition: service_healthy
  reverb:
    image: wormhole-systems-test:latest
    tty: true
    networks:
      - ws-test-internal
    volumes:
      - laravel-storage-test:/app/storage
    depends_on:
      app:
        condition: service_healthy
    command: php artisan reverb:start --host=${REVERB_HOST:-0.0.0.0} --port=${REVERB_PORT:-8080} --debug
    restart: ${RESTART_POLICY:-always}
    ports:
      - 8080:8080
volumes:
  mysql-test-data:
  laravel-storage-test:
  caddy_data-test:
  caddy_config-test:
  # Log volumes for persistent storage
  mysql-test-logs:
  redis-test-logs:


networks:
  ws-test-internal:

